tokenizers~=0.21.0
regex~=2024.11.6
tensorflow~=2.16.2
numpy~=1.26.4

hors-python-partial
icecream~=2.1.4
natasha~=1.6.0
pydantic~=2.10.6
razdel~=0.5.0
navec~=0.10.0
slovnet~=0.6.0
pandas~=2.2.3
nltk~=3.9.1